/exercicioAula05/nbproject/private/
/exercicioAula05/build/
/exercicioAula05/dist/
/exercicioAula05-meu/nbproject/private/
/ExAula05/nbproject/private/
/ExAula05/build/
/ExAula05/dist/
/Aula06/nbproject/private/
/Aula06/build/
/Aula06/dist/
/ExercicioAula07/nbproject/private/
/ExercicioAula07/build/
/ExercicioAula07/dist/
